# MySQL
MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_DATABASE=autoescuela_db
MYSQL_USER=autoescuela_user
MYSQL_PASSWORD=change_this_db_password

# Backend
NODE_ENV=production
PORT=5000
JWT_SECRET=change_this_jwt_secret
DB_HOST=database
DB_PORT=3306
DB_NAME=autoescuela_db
DB_USER=autoescuela_user
DB_PASSWORD=change_this_db_password
CORS_ORIGIN=https://tu-frontend.com
DB_SYNC=true
DB_SYNC_ALTER=false

# Admin por defecto
ADMIN_EMAIL=admin@autoescuela.com
ADMIN_PASSWORD=change_this_admin_password
ADMIN_NAME=Administrador

# Frontend
REACT_APP_API_URL=/api
